<div class="jumbotron">
    <h1>Aplikacioni per menagjimin e Profesoreve dhe Lendeve</h1>
    
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Shfaqja e te dhenave</h2>
        <p>
            Ky aplikacion sherben per te shfaqur Profesoret e regjistruar si dhe lendet perkatese ne Departamentin e Kompjuterikes
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ndryshimi i te dhenave</h2>
        <p>Ndryshimi i te dhenave lejohet vetem per administruesit e faqes.
        Per qdo ndryshim, te raportohet ne dekanat</p>
       
    </div>
    
</div>
